head {
	background-image: url("background.jpg");
}

body {
  font-size: 16px;
  color: #fff;
  background-image: url("background.jpg");
  background-repeat: inherit;
  font-family: 'Oxygen', sans-serif;
}

li {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -2em;
  padding-left: 1em;
  line-height: 1.5;
  margin-top: 20px;
}

#header-nav h1 {
  padding-top: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lora', serif;
  color: #00CED1;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: .75;
}


#header-nav {
  background-repeat: inherit;
  border-radius: 0;
  border: 0;
}

img.rehan {
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
  margin-top: 20px;
}

img.ucla {
  margin-top: 25px;
  margin-right: 250px;
  float: right;
  width: 200px;
  height: 100px;
}

#phone {
  margin-top: 5px;
}

#phone div {
  font-size: 1.5em;
  padding-bottom: 0;
  padding-top: 20px;
  color: #00FF00;
  text-align: center;
}

.container .jumbotron {
  border: 2px solid #3F0C1F;
  margin-top: 30px;
  padding-top: 10px;
  padding-left: 50px;
  vertical-align: text-top;
  background-image: url("background.jpg");
}

#menu-tile, #specials-tile {
  margin-top: 30px;
  height: 200px;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background: url('ucla.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('ucla.jpg') no-repeat;
  background-position: center;
}

#menu-tile span, #specials-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

#coursework-headers h4 {
	margin-top: 50px;
	margin-bottom: 50px;
}
