head {
	background-image: url("background.jpg");
}

body {
  font-size: 16px;
  color: #fff;
  background-image: url("background.jpg");
  background-repeat: inherit;
  font-family: 'Oxygen', sans-serif;
}

#header-nav h1 {
  padding-top: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lora', serif;
  color: #00CED1;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: .75;
}


#header-nav {
  background-repeat: inherit;
  border-radius: 0;
  border: 0;
}

img.rehan {
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
  margin-top: 20px;
}

img.ucla {
  margin-top: 25px;
  margin-right: 250px;
  float: right;
  width: 200px;
  height: 100px;
}

#phone {
  margin-top: 5px;
}

#phone div {
  font-size: 1.5em;
  padding-bottom: 0;
  padding-top: 20px;
  color: #00FF00;
  text-align: center;
}

.container .jumbotron {
  border: 2px solid #3F0C1F;
  margin-top: 30px;
  padding-top: 10px;
  padding-left: 10px;
  vertical-align: text-top;
  background-image: url("background.jpg");
}
